<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
</head>
<body>
    <h1>Movie Recommendation System</h1>
    <form action="{% url 'generate_recommendations' %}" method="post">
        {% csrf_token %}
        <label for="user_id">Enter User ID:</label>
        <input type="text" id="user_id" name="user_id">
        <button type="submit">Get Recommendations</button>
    </form>
</body>
</html>
